.col-sm-9.col-md-9
  %h2
    ="#{@game.name} Details"
  %table.table
    %tbody
      %tr
        %td Name
        %td 
          =@game.name
      %tr
        %td Description
        %td
          =@game.description
  
